<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>silex-skeleton-app</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {'title':'How Much Pizza I Ate Last Night',
                'height':360
            };

            // Instantiate and draw our chart, passing in some options.
            var barchart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
            var piechart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
            var linechart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
            barchart.draw(data, options);
            piechart.draw(data, options);
            linechart.draw(data, options);
        }


    </script>

</head>
<body background="../images/binding_light.png">

<div class="container">

        <div class="row">
            {% include 'menu.twig' %}
        </div>

        <div class="row">
            {% include 'welcomeimage.twig' %}
        </div>

        <div class="row graphs">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 nopadding">
                <div class="graph-panel" id="pie_chart_div"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 nopadding">
                <div class="graph-panel" id="bar_chart_div"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 nopadding">
                <div class="graph-panel" id="line_chart_div"></div>
            </div>
        </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>