{% include "header.html" %}

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
            <ul class="dropdown-menu">
                    <li><a href="../bank/crud">Bank</a></li>
                    <li><a href="../beeboo/crud">BeeBoo</a></li>
                    <li><a href="../demo/crud">Demo</a></li>
                    <li><a href="../property/crud">Property</a></li>
                    <li><a href="../user/crud">User</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
</nav>

{% include "footer.html" %}
