{% include 'header.html' %}

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
            <ul class="dropdown-menu">
{% for item in items %}
                    <li><a href="../{{ item | lower }}/crud">{{ item }}</a></li>
{% endfor %}
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
</nav>

{% include 'footer.html' %}
